* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300;500&display=swap');

body {
    background-color: #B17575;
    text-align: center;
}

#container {
    width: 100%;
    text-align: center;

    background-color: #B17575;
}

header {
    width: 100%;
    height: 15vh;

    text-align: center;
    padding-top: 2%;
    background-color: #E8CCB7;

    margin-bottom: 15px;
}

header > h1 {
    font-size: 60px;

    background-image: linear-gradient(to bottom, #AC3333 , #AC3333, #AC333300);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#productsContainer {
    width: 90%;
    height: 100%;

    padding: 10px;

    margin: auto;
    background-color: #E8CCB7;
}

#productsContainer > h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 300;
    color: #AC3333;
    font-family: 'Noto Serif Display', serif;
}



.container{
    background-color: # #E8CCB7;
    width: 100%;
    height: 210vh;

    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 300px 300px 300px 300px 300px;

    grid-gap: 5px;
    justify-content:center;

}

.container > div {
    background: #fff;
    border: 5px solid #AC3333;
    border-radius: 10px;

}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:    "A B C";
    background-color: #C6AA97;

    margin-top: 75px;
    padding: 10px;
}

footer > #email {
    grid-area: A;

    text-align: start;
}

footer > #email > h3 {
    font-family: "Noto Serif Display", serif;
    font-size: 25px;

    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
}

footer > #email > input {
    width: 300px;
    height: 25px;
    background-color: #c4c4c4;
    border-radius: 10px;

    margin-left: 25px;
    
}


footer > #email > button {
    width: 100px;
    height: 25px;
    background-color: #c4c4c4;
    border-radius: 10px;

    cursor: pointer;
}

footer > #info {
    grid-area: B;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:    "phone email"
                            "place politica";
}

footer > #info > #phone {
    grid-area: phone;
    margin-top: 3px;
    margin-bottom: 3px;

}

footer > #info > #email {
    grid-area: email;
    margin-top: 3px;
    margin-bottom: 3px;

}

footer > #info > #local {
    grid-area: place;
    margin-top: 3px;
    margin-bottom: 3px;


}

footer > #info > #politica {
    grid-area: politica;
    margin-top: 3px;
    margin-bottom: 3px;


}

footer > #socialMedia {
    grid-area: C;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:    "a b"
                            "c d"
                            "e f";

}

footer > #socialMedia > #youtube {
    text-align: start;
    grid-area: a;
}

footer > #socialMedia > #whatsapp {
    text-align: start;
    grid-area: b;
    
}

footer > #socialMedia > #facebook {
    text-align: start;
    grid-area: c;
    
}

footer > #socialMedia > #instagram {
    text-align: start;
    grid-area: d;
    
}

footer > #socialMedia > #twitter {
    text-align: start;
    grid-area: e;
    
}

footer > #socialMedia > #pinterest {
    text-align: start;
    grid-area: f;
    
}